body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.navbar .navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .navbar-list .navlist-item {
  display: inline;
  margin-right: 20px;
}
.navbar .navbar-list .navlist-item a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 350px;
}

.header,
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.main,
.aside {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 20px;
  height: 50%;
}
.main {
  background-color: #f0f0f0;
  width: 75%;
}
.aside {
  background-color: #e0e0e0;
  width: 19%;
}

.first-section {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.second-section {
  background-color: blue;
  color: #fff;
  padding: 10px;
}
.slider{
  width: 800px;
  height: 500px;
  overflow: hidden;

  border-radius: 10px;
  text-align: center;
}

.navigation-bar{
  display: flex;
  position: relative;
  bottom: 35px;
  left: 90%;
  transform: translate(-50%);
}

.manual-btn{
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #fff;
  transition: 0.4s;
}

.slides{
  display: flex;
  width: 400%;
  height: 100%;
}

.slide{
  width: 33.33%;
  transition: 0.5s;
}

.slide img{
  width: 100%;
  height: 100%;
}


#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -33.333% !important;
}

#radio3:checked~.first {
  margin-left: -66.66% !important;
}


